<!--<p>
   <button class= "btn btn-info" (click)="Juego('adivina')">Adivina</button>
    <button class= "btn btn-warning" (click)="Juego('agilidad')">Agilidad</button>
    <button class= "btn btn-danger" routerLink="/error">Error</button>
</p>-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- <button class="btn btn-default navbar-btn" (click)="Juego('adivina')">Adivina</button>
    <button class="btn btn-default navbar-btn" (click)="Juego('agilidad')">Agilidad</button> -->
    <button class="btn btn-default navbar-btn" (click)="Juego('adivinaMasListado')"> Adivina + Listado</button>
    <button class="btn btn-default navbar-btn" (click)="Juego('agilidadMasListado')"> Agilidad + Listado</button>
    
    <button class="btn btn-default navbar-btn" routerLink="/error">Error</button>
    <button class="btn btn-default navbar-btn" (click)="Juego('listado')">Listado</button>
  </div>
</nav>


